@import "tailwindcss";

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --color-primary: #0A2A6C;      /* Royal Blue */
  --color-primary-light: #6366f1; 
  --color-primary-dark: #3730a3;

  --color-secondary: #10b981;    /* Emerald-500 */
  --color-secondary-light: #34d399;
  --color-secondary-dark: #059669;

  --color-accent: #D4AF37;       /* gold */
  --color-accent-light: #fbbf24;
  --color-accent-dark: #b45309;

  /* Gradient colors */
  --gradient-start: #0A2A6C;
  --gradient-end: #3730a3;
}


*::-webkit-scrollbar{
  display: none;
}
*{
  box-sizing: border-box;
}
/* Inline theme mapping for Tailwind usage */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --gradient-start: var(--gradient-start);
  --gradient-end: var(--gradient-end);
}

/* Example gradient text class */
.gradient-text {
  background: linear-gradient(
    48deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.wallpaper-wrapper{
  background: url("/images/auth_wallpaper.png");
  background-size: cover;
}


.gradient-button{
  background: linear-gradient(
    48deg,
    var(--gradient-start),
    var(--gradient-end)
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
